# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*

# Python version management
.python-version

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# SQLite databases
*.sqlite3
*.db

# Type checker
.dmypy.json
dmypy.json

# Documentation
docs/_build/

# Temporary files
*.tmp
*.temp

# data
*.json
*.arrow
!ds_config.json

# kaggle notebook
kaggle_notebook.ipynb